body {
    font-family: Arial, sans-serif;
    background-color: #74c159;
}

.login-container {
    width: 400px;
    margin: 19% auto;
    padding: 30px 20px 60px 20px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input {
    width: 93%;
    padding: 10px;
    margin-right: 10PX;
    border: 0PX;
    background-color:#f1ececad;

}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 1px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    text-align: center;
}